@media (min-width: 768px) {
    @keyframes slideIn-popup-initial {
        0% {
            opacity: 0;
            right: -250px;
        }
        100% {
            opacity: 1;
            right: -200px;
        }
    }

    @keyframes slideIn-popup-exit {
        0% {
            opacity: 1;
            right: -200px;
        }
        100% {
            opacity: 0;
            right: -250px;
        }
    }
}