@media (max-width: 768px) {
    @keyframes slideIn-popup-initial {
        0% {
            opacity: 0;
            bottom: -100vh;
        }
        100% {
            opacity: 1;
            bottom: -50vh;
        }
    }

    @keyframes slideIn-popup-exit {
        0% {
            opacity: 1;
            bottom: 0vh;
        }
        100% {
            opacity: 0;
            bottom: -100vh;
        }
    }
}