---
import Layout from "../layouts/astro/main.astro"
---

<Layout title="home" desc="the root page of my private api">
    <h1>
        hey!
    </h1>
    <p>
        I mean its either me using this website or im dead so you know what this is.
    </p>

    <br style="margin-top: 10vh; margin-bottom: 10vh;">

    <hr>
    <h3>
        admins
    </h3>
    <hr>
    <p>select wird:</p>
    <select name="endpoints" id="adminIps"></select>
    <button id="adminIpsDelete" style="width: 100%;">delete admin?</button>
    <input placeholder="ip..." id="adminIpsInput" style="width: 100%;">
    <button id="adminIpsAdd" style="width: 100%;">add admin?</button>


    <hr>
    <h3>
        chat filter
    </h3>
    <hr>
    <p>select word:</p>
    <select name="endpoints" id="chatWords"></select>
    <button id="chatWordsDelete" style="width: 100%;">delete word?</button>
    <input placeholder="word..." id="chatWordsInput" style="width: 100%;">
    <button id="ChatWordsAdd" style="width: 100%;">add word?</button>
</Layout>