---
import Layout from "../layouts/astro/main.astro"
---

<Layout title="home" desc="the root page of my private api">
    <h1>
        hey!
    </h1>
    <p>
        I mean its either me using this website or im dead so you know what this is.
    </p>
</Layout>