---
import Layout from "../layouts/astro/main.astro"
---

<Layout title="post" desc="extra uploads for data sharing">
    <h1>
        wallpaper,
    </h1>
    <hr>
    <h2>
        Upload
    </h2>
    <form id="uploadForm" enctype="multipart/form-data">
        <div id="formHolder">
            <input type="file" id="image" name="image" accept="" required>
            <div id="imagePreview" style="margin-top: 10px;"></div>
        </div>
        <button type="submit">Upload Image</button>
    </form>
    <img src='https://api.roxcelic.love/api/v1/wallpaper'>
    <p id="image/result"/>

    <!--chat -->
    <hr>
    <h1>chat</h1>
    <hr>
    
    <div id="chat">


    </div>

    <hr style="margin: 15px auto 15px auto;">
    
    <div id="chatcontainer">
        <input placeholder="message..." id="chatMessage">
        <input value="#ffffff" type="color" id="chatColor">
    </div>
    <button id="chatSend">send message</button>
</Layout>