---
import Layout from "../layouts/astro/main.astro"
---

<Layout title="post" desc="extra uploads for data sharing">
    <h1>
        wallpaper,
    </h1>
    <hr>
    <h2>
        Upload
    </h2>
    <form id="uploadForm" enctype="multipart/form-data">
        <div id="formHolder">
            <input type="file" id="image" name="image" accept="" required>
            <div id="imagePreview" style="margin-top: 10px;"></div>
        </div>
        <button type="submit">Upload Image</button>
    </form>
    <img src='https://api.roxcelic.love/api/v1/wallpaper'>
    <p id="image/result"/>

    <!--chat -->
    <hr>
    <h1>chat</h1>
    <hr>
    
    <div id="chat">

    </div>

    <hr style="margin: 15px auto 15px auto;">
    
    <input placeholder="name..." id="chatname" style="width: 100%;">
    <div id="chatcontainer">
        <input placeholder="message..." id="chatMessage">
        <input value="#ffffff" type="color" id="chatColor">
    </div>

    <button id="chatSend">send message</button>
    
    <hr>

    <div class="chatcontainer">
        <p style="min-width: fit-content;">
            chat speed: &#9; 
        </p>
        <input type="number" id="chatSpeed" min="100" max="2000" value=1000>
    </div>
    <div class="chatcontainer" style="grid-template-columns: 90% 10%;">
        <select name="endpoints" id="chatroom">
            <option value="admin">base chat</option>
        </select>
        <button id="chatDelete">delete room</button>
    </div>

    <!--add chat -->
    <hr>
    <h3>add chat</h3>
    <div class="chatcontainer" style="grid-template-columns: 90% 10%;">
        <input placeholder="chatname" id="createchat/name" style="width: 100%;">
        <button id="createchat/button">create room</button>
    </div>
    <hr>
</Layout>