---
import Layout from "../layouts/astro/main.astro"
---

<Layout title="status" desc="the status for my api">
    <h1>
        status!!
    </h1>
    <hr>
    <p>
        text
    </p>
    <input id="status/text" placeholder="status" style="width: 100%;">

    <hr style="width: 75%; margin: 2.5vh auto 2.5vh auto;">
    
    <p>
        image
    </p>
    <input id="status/image" placeholder="https://..." style="width: 100%;">

    <hr style="width: 75%; margin: 2.5vh auto 2.5vh auto;">

    <p>
        publish!!
    </p>
    <button id="status/publish">
        publish
    </button>
</Layout>