<div class="menu">
    <a id="menu/" class="page" href="/frontends/">
        home
    </a>
    <a id="menu/api" class="page" href="/frontends/api">
        api
    </a>
    <a id="menu/blog" class="page" href="/frontends/blog">
        blog
    </a>
    <a id="menu/images" class="page" href="/frontends/images">
        images
    </a>
    <a id="menu/status" class="page" href="/frontends/status">
        status
    </a>
</div>