<div class="menu">
    <a id="menu/" class="page" href="/">
        home
    </a>
    <a id="menu/api" class="page" href="/api">
        api
    </a>
    <a id="menu/blog" class="page" href="/blog">
        blog
    </a>
    <a id="menu/images" class="page" href="/images">
        images
    </a>
    <a id="menu/status" class="page" href="/status">
        status
    </a>
</div>